name: ci

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - uses: ts-graphviz/setup-graphviz@b1de5da23ed0a6d14e0aeee8ed52fdd87af2363c # v2.0.2
      - uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb #v6.1.0
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Setup the project
        run: uv sync --all-extras --dev
      - name: Lint markdown files
        run: just lint-md
      - name: Lint Python files
        run: just lint-python
      - name: Lint the docs
        run: just docs

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb #v6.1.0
        with:
          enable-cache: true
      - name: Set up Python
        run: uv python install
      - name: Setup the project
        run: uv sync --all-extras --dev
      - name: Run the unit tests
        run: just test
