name: docker-build-publish-ghcr

on:
  workflow_call:
    inputs:
      push-to-ghcr:
        description: "Publish the image to ghcr.io"
        default: false
        type: boolean
      push-to-ecr:
        description: "Publish the image to AWS ECR"
        default: false
        type: boolean
      aws-region:
        description: "Specifies the AWS region to use"
        type: string
      use-latest:
        description: "Flag enabling the use of the 'latest' tag"
        type: boolean
        default: false
    secrets:
      github-role:
        description: "ARN of the federated role to use to deploy from GitHub to AWS."

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Extract repository name
        id: repo-name
        run: echo "repo_name=${GITHUB_REPOSITORY##*/}" >> $GITHUB_OUTPUT

      - name: Log in to the GitHub Container Registry
        if: inputs.push-to-ghcr
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        if: inputs.push-to-ecr
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: ${{ secrets.github-role }}
          aws-region: ${{ inputs.aws-region }}
      - name: Login to Amazon ECR
        if: inputs.push-to-ecr
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: |
            name=ghcr.io/${{ github.repository }},enable=${{ inputs.push-to-ghcr }}
            name=${{ steps.login-ecr.outputs.registry }}/${{ steps.repo-name.outputs.repo_name }},enable=${{ inputs.push-to-ecr}}
          flavor: latest=${{ inputs.use-latest }}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.push-to-ghcr || inputs.push-to-ecr }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
