name: docker-build-publish-ghcr

on:
  workflow_call:
    inputs:
      push-to-ghcr:
        description: "Publish the image to ghcr.io"
        default: false
        type: boolean
      push-to-ecr:
        description: "Publish the image to AWS ECR"
        default: false
        type: boolean
      aws-region:
        description: "Specifies the AWS region to use"
        type: string
      use-latest:
        description: "Flag enabling the use of the 'latest' tag"
        type: boolean
        default: false
    secrets:
      github-role:
        description: "ARN of the federated role to use to deploy from GitHub to AWS."

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@53851d14592bedcffcf25ea515637cff71ef929a # v3.3.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Extract repository name
        id: repo-name
        run: echo "repo_name=${GITHUB_REPOSITORY##*/}" >> $GITHUB_OUTPUT

      - name: Log in to the GitHub Container Registry
        if: inputs.push-to-ghcr
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials
        if: inputs.push-to-ecr
        uses: aws-actions/configure-aws-credentials@4fc4975a852c8cd99761e2de1f4ba73402e44dd9 # v4.0.3
        with:
          role-to-assume: ${{ secrets.github-role }}
          aws-region: ${{ inputs.aws-region }}
      - name: Login to Amazon ECR
        if: inputs.push-to-ecr
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5.6.1
        with:
          images: |
            name=ghcr.io/${{ github.repository }},enable=${{ inputs.push-to-ghcr }}
            name=${{ steps.login-ecr.outputs.registry }}/${{ steps.repo-name.outputs.repo_name }},enable=${{ inputs.push-to-ecr}}
          flavor: latest=${{ inputs.use-latest }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991 # v6.13.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.push-to-ghcr || inputs.push-to-ecr }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
