name: docs

on:
  workflow_call:
    inputs:
      build-dir:
        description:
          "The path from the root of the repo where we should run the zola build
          command"
        default: "."
        required: false
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
      - name: lint sass
        run: just lint-sass
      - name: lint markdown
        run: just lint-md
      - name: Check spelling
        run: just lint-spelling

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: build
        uses: shalzz/zola-deploy-action@964938f983e3223fbe16fcc626ff1ad803dba1cd # v0.18.0
        env:
          BUILD_DIR: ${{ inputs.build-dir }}
          BUILD_ONLY: true

  deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: build
        uses: shalzz/zola-deploy-action@964938f983e3223fbe16fcc626ff1ad803dba1cd # v0.18.0
        env:
          BUILD_DIR: ${{ inputs.build-dir }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
