name: docs

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: extractions/setup-just@v1
      - name: lint sass
        run: just lint-sass
      - name: lint markdown
        run: just lint-md

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build
        uses: shalzz/zola-deploy-action@v0.16.1-1
        env:
          BUILD_DIR: docs
          BUILD_ONLY: true
      - uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/public

  deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - docs
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: docs
          path: docs/public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
